@keyframes luz
	0%
		box-shadow 0 3px 3px 3px $Blanco
	
	50%
		box-shadow 0 3px 3px 1px $Blanco
		
	100%
		box-shadow 0 3px 3px 3px $Blanco

@keyframes rollo
	
	from
		transform rotate(0deg)
	
	to
		transform rotate(360deg)

@keyframes cortI
	
	0%
		left 0
	
	100%
		left -500px

@keyframes cortD
	
	0%
		right 0
	
	100%
		right -500px
