/*
-Deben ser elementos por default que lucirán igual en todo el sitio, Es .
-Ningún estilo de estos elementos selectores deberá usar !important.
-No usar selectores tipo class o id.
*/

	
a
	text-decoration none
	border none
	
	&:hover
		text-decoration none
		color $Azul
		
	img
		border 0
	
body, html
	background-image url("../images/BgCine-General.png")
	overflow hidden
h1
	margin 0	

h2, h3
	color $Blanco
	font-family $KBlanK

.sin-bottom
	margin-bottom 0

.con-bottom
	margin-bottom 20px

.cont-text-TO
	margin-top 5%
	
.ocultar-sect
	display none
	
.alin.center
	text-align center

.clear
	clear both

.cont-textH
	margin-top 10%
	margin-bottom 5%

.textos-principales
	font-size 1.5rem
	font-weight lighter
	line-height 1.9rem
	text-align center
	text-shadow 1px 1px 0px $Negro

.cont-textIS
	margin-top 8%
	margin-bottom 2%

.cont-form-iniciaS
	margin-left 38%

.info-tiempo
	color $Amarillo
	text-shadow 1px 1px 0px $Negro
	font-size 10rem
	font-family $KBlanK

.icono-play-juego
	margin-left 46%

.cont-preguntas
	background-color $Blanco
	width 70%
	position absolute
	top 0
	z-index 2
	height 45%
	left calc(50% - 35%)
	box-shadow 0 3px 3px 3px $Blanco
	animation luz 0.6s infinite

.preguntas-trivia
	color $Azul
	text-transform uppercase
	font-family $KBlanKS
	font-size 2.8rem
	text-align center
	margin 15% 30px 0

.cont-respuestas
	margin-top 24%
	

.img-center
	margin-left calc(50% - 105px)

.texto-tiempoO
	text-shadow 1px 1px 0px $Negro
	color $Blanco
	font-family $KBlanK
	text-transform uppercase
	font-size 3rem
	

