/*
-Deben ser elementos por default que lucirán igual en todo el sitio, Es .
-Ningún estilo de estos elementos selectores deberá usar !important.
-No usar selectores tipo class o id.
*/

	
a
	text-decoration none
	border none
	
	&:hover
		text-decoration none
		color $Azul
		
	img
		border 0
	
body, html
	background-image url("../images/BgCine-General.png")
	overflow hidden
h1
	margin 0	

h2, h3
	color $Blanco
	font-family $KBlanK

.sin-bottom
	margin-bottom 0

.con-bottom
	margin-bottom 20px
	
.ocultar-sect
	display none

.clear
	clear both

.cont-textH
	margin-top 10%
	margin-bottom 5%

.textos-principales
	font-size 1.5rem
	font-weight lighter
	line-height 1.9rem
	text-align center
	text-shadow 1px 1px 0px $Negro

.cont-textIS
	margin-top 8%
	margin-bottom 2%

.cont-form-iniciaS
	margin-left 38%

.info-tiempo
	color $Amarillo
	text-shadow 1px 1px 0px $Negro
	font-size 10rem
	font-family $KBlanK

.icono-play-juego
	margin-left 46%
	

