@font-face
  font-family 'KBlank'
  src url('../fonts/KGBlankSpaceSolid.eot')
  src url('../fonts/KGBlankSpaceSolid.eot') format('embedded-opentype'),
         url('../fonts/KGBlankSpaceSolid.woff2') format('woff2'),
         url('../fonts/KGBlankSpaceSolid.woff') format('woff'),
         url('../fonts/KGBlankSpaceSolid.ttf') format('truetype'),
         url('../fonts/KGBlankSpaceSolid.svg') format('svg')
  font-weight normal
  font-style normal
  
@font-face
  font-family 'KBlank-S'
  src url('../fonts/KGBlankSpaceSketch.eot')
  src url('../fonts/KGBlankSpaceSketch.eot') format('embedded-opentype'),
         url('../fonts/KGBlankSpaceSketch.woff2') format('woff2'),
         url('../fonts/KGBlankSpaceSketch.woff') format('woff'),
         url('../fonts/KGBlankSpaceSketch.ttf') format('truetype'),
         url('../fonts/KGBlankSpaceSketch.svg') format('svg')
  font-weight normal
  font-style normal
