footer
	background-image url("../images/Img-Sillas-Footer.png")
	background-position 0 -95px
	background-size cover
	bottom 0
	color #fff
	height 70px
	position absolute
	width 100%
	
	.cont-text-footer
		position fixed
		bottom 0
	