input, select
	background-color $GrisOs
	border 1px solid $Amarillo
	color $Blanco
	font-family $KBlanK
	margin-bottom 20px
	padding 4px
	text-transform uppercase
	width 97%

em.asteric
	color $Amarillo
	float left
	font-size 1.3rem
	width 3%

input.check-terminos
	width 5%
	float left

em.text-ter-formulario
	color $Blanco
	float left
	font-family $KBlanK
	font-size 1.2rem
	font-style normal
	margin-top 2px
	width 95%

a.abrir-terminos
	color $Amarillo
	
	&:hover
		color $Azul
	