@media (max-width: 1200px)

	.cont-text-TO
		width 50%
		margin-left 21%
	
	.con-btn-ir-inicio
		margin-left 30%

@media (max-width: 1024px)

	.cont-cort-izq
		left -350px
	
	.cont-cort-der
		right -350px
	
	@keyframes cortI
	
		0%
			left 0
		
		100%
			left -320px

	@keyframes cortD
		
		0%
			right 0
		
		100%
			right -320px
	
	.info-tiempo
		margin-left 41%
	
	.cont-respuestas
		position relative
		margin-top -13%
	
	.cont-text-TO
		width 51%
	

@media (max-width: 800px)
	header
		background-position -274px 0
		background-size 170% auto
	
	footer
		bottom -8px
	
	.con-logo-Cine
		margin-left 0%
	
	.info-tiempo
		margin-left 38%
	
	.preguntas-trivia
		font-size 2rem
	
	.cont-preguntas
		padding-top 32%
	
	.cont-respuestas
		position relative
		margin-top -20%
	
	.cont-Error-4, .cont-text-Err
		margin-left 20%
	
	.cont-text-TO
		margin 8% 0 0 16%
		width 74%


@media (max-width: 480px)
	header
		background-position -347px 0
		background-size 250% auto
	
	footer
		background none
	
	.con-logo-Cine
		margin-left -1%
		width 34%
	
	.margin-responsive
		margin-bottom 50px
	
	.info-tiempo
		margin-left 29%
	
	.icono-play-juego
		margin-left 42%
	
	.cont-preguntas
		width 90%
		left calc(50% - 45%)
		padding-top 51%
	
	.cont-respuestas
		position relative
		margin-top -36%
	
	.cont-btn-conti
		margin-left 25%
	
	.cont-Error-4, .cont-text-Err
		margin-left 0%
		
	.cont-text-TO
		margin 13% 0 0 0
		width 100%
	
	.texto-Pagina
		font-size 3rem
	
	.con-btn-ir-inicio
		margin-left 18%	

@media (max-width: 414px)
	header
		background-position -411px 0
		background-size 300% auto
	
	.con-logo-Cine
		margin-top 2%
	
	.info-tiempo
		margin-left 25%
	
	.icono-play-juego
		margin-left 40%
	
	.cont-preguntas
		padding-top 57%
	
	.cont-respuestas
		position relative
		margin-top -44%
	
	.cont-btn-conti
		margin-left 20%
	
	.numero-4B 
		p
			margin-left 23%
	
	.cont-rollo-peli
		left calc(50% - 63px)
	
	.texto-Pagina
		font-size 2.6rem
		
	.con-btn-ir-inicio
		margin-left 0
		width 100%
	

@media (max-width: 320px)
	header
		background-position -425px 0
		background-size 370% auto
	
	.con-logo-Cine
		margin-left -7%
		margin-top 1%
		width 50%
	
	ul.text-footer
		margin-left calc(50% - 126px) !important
		
		li
	
			a.terminos-f
				font-size 0.8rem !important
	
	.info-tiempo
		margin-left 17%
	
	.icono-play-juego
		margin-left 35%
	
	.preguntas-trivia
		font-size 1.4rem
	
	.cont-preguntas
		padding-top 75%
	
	.cont-respuestas
		position relative
		margin-top -50%
	
	.cont-contador
		margin-left 37%
	
	.cont-btn-conti
		margin-left 10%
	
	.cont-cinta-1, .cont-cinta-2
		display none
	
	.cont-Error-4, .cont-text-Err
		width 100%
	
	.numero-4A, .numero-4B
		font-size 14rem !important
		margin-top 29px !important
	
	.numero-4B	
		right -26px
	
	.cont-text-error
		margin-top 10%
	
	.cont-text-TO
		margin 62% 0 0
	
	.texto-Pagina
		font-size 1.9rem
	
	

		
