header
	background-image url("../images/Img-Cort-Header.png")
	background-size 100%
	background-repeat no-repeat
	height 110px
	position relative
	z-index 13

.cont-info
	float right
	margin-right 12%

.con-logo-Cine
	margin-left 10%	

ul.cont-btn-info
	margin 0
	padding 0
	list-style none
	border none
	
	li
		a
			background-color none
			
			&:hover, &:active,
			&:focus
				
				background-color none !important