/*

En este archivo se declaran los colores, las fonts y sus variaciones

*/

//Paleta de colores del proyecto

$Amarillo       = #f2c915
$Rojo			= #a70000
$Verde			= #21a730
$Azul           = #305b9e
$AzulOs			= #142746
$GrisOs			= #2c2c2c
$Oscuro			= #262626
$Blanco			= #ffffff


/*Pueden encontrar más funciones para mezclas y manejo de color acá:
https://learnboost.github.io/stylus/docs/bifs.html*/

//Fonts
$KBlanK = 'KBlank', sans-serif
$KBlanK-S = 'KBlank-S', sans-serif

//Font weights
$Light  = 300
$Normal = 400
$Bold   = 700