extends partials/base

block title
	-var titulo = "404";
	title 404

block content
	
	section
		div
			div
				p | Error

			div
				p
					|4

			div
				p
					|4

			div
				img(src="images/Img-Cinta-1.png")

			div
				img(src="images/Img-Cinta-2.png")


			div
				p
					|página no encontrada

			button
					| Volver al inicio


block Scripts