//Footer

footer
	div.col-lg-2.col-md-2.col-sm-3.col-xs-3.cont-info
		ul#navegacion.cont-btn-info
				li
					a(href="https://www.facebook.com/cocacolacolombia/?brand_redir=40796308305")(target="_blank")

						img(src="images/icon-Fb.png")

				li
					a(href="https://twitter.com/cocacolacol")(target="_blank")

						img(src="images/icon-Tw.png")
	div.cont-text-footer
		div.col-lg-12
			ul.text-footer
				li
					a.terminos-f(href="#")
						|Términos y condiciones &nbsp;|

				li
					a.terminos-f(href="#")
						| &nbsp;&nbsp;Políticas de privacidad


///-Footer

//Scripts
//-Estos son los scripts que van en todos los htmls del desarrollo
if debug == true
	script(src='js/libs/jquery.js')
	script(src='js/libs/bootstrap.min.js')
	script(src='js/libs/jquery.validate.js')
	script(src='js/funciones.js')

else
	script(src='js/libs/jquery.js')
	script(src='js/libs/bootstrap.min.js')
	script(src='js/libs/jquery.validate.js')
	script(src='js/funciones.js')