//Footer

footer.container-fluid
	div.cont-text-footer
		div.col-lg-12
			ul
				li
					a(href="#")
						|Términos y condiciones

				li
					a(href="#")
						|Políticas de privacidad


///-Footer

//Scripts
//-Estos son los scripts que van en todos los htmls del desarrollo
if debug == true
	script(src='js/libs/jquery.js')
	script(src='js/libs/bootstrap.min.js')
	script(src='js/frontend-brm.js')

else
	script(src="js/libs."+name+".min.js")
	script(src='js/frontend-brm.js')