//Header
header.container-fluid
	div.row
		div.col-lg-2.col-md-2.col-sm-5.col-xs-5.col-lg-offset-0.col-md-offset-0.col-sm-offset-0.con-logo-Cine
			a(href="https://www.unfinaldepeliculacnpl.com")
				h1
					img.img-responsive(src="images/Logo-Cinepo.png", alt="Cinepolis")

		div.col-lg-2.col-md-2.col-sm-3.col-xs-3.cont-info
			include menu

///-Header