//Menu
div
	nav.bar
		ul#navegacion.cont-btn-info
				li
					a(href="https://www.facebook.com/CinepolisColombia/?brand_redir=212235555192")(target="_blank")

						img(src="images/icon-Fb.png")

				li
					a(href="https://twitter.com/cinepolis")(target="_blank")

						img(src="images/icon-Tw.png")

				li
					a(href="https://www.instagram.com/cinepolismx/")(target="_blank")

						img(src="images/icon-Ins.png")
					
///-Menu