extends ../templates/base

block title
	-var titulo = "404";
	title Error 404

block content

	div.cont-cort-izqB

	div.cont-cort-derB
	
	section.cont-sec-error404
		div.row
			div.col-lg-3.col-md-4.col-sm-3.col-xs-3.col-lg-offset-3.col-md-offset-4.col-sm-offset-3.col-xs-offset-0.cont-text-Err

				p.texto-Error
					| Error
		div.row
			div.col-lg-3.col-md-4.col-sm-3.col-xs-3.col-lg-offset-3.col-md-offset-4.col-sm-offset-3.col-xs-offset-0.cont-Error-4
				div.cont-text-error
					div.numero-4A
						p
							|4

					div.cont-rollo-peli

					div.numero-4B
						p
							|4
				
					div.cont-cinta-1
						img(src="images/Img-Cinta-1.png")

					div.cont-cinta-2
						img(src="images/Img-Cinta-2.png")
		div.row
			div.col-lg-3.col-md-4.col-sm-3.col-xs-3.col-lg-offset-3.col-md-offset-4.col-sm-offset-3.col-xs-offset-0.cont-text-TO

				p.texto-Pagina
					| página no encontrada
		
		div.row

			button.btns-texto-solidB.col-lg-4.col-md-5.col-sm-4.col-xs-11.col-lg-offset-0.col-md-offset-0.col-sm-offset-0.col-xs-offset-0.btn-cont
					| ir al inicio


block Scripts