//-Layout Base
extends ../templates/base

//-Etiqueta Title
block title
	title Ejemplo de meta title

//-Etiqueta Metadescription
block description
	meta(name="description", content="Frontend BRM" )

block content
	
	section.cont-sec-home.ocultar-sect
		div.row
			div.col-lg-6.col-md-6.col-sm-5.col-xs-11.col-lg-offset-1.col-md-offset-3.col-sm-offset-1.col-xs-offset-1.cont-textH
				h2.textos-principales
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus est ab, dolorum adipisci expedita ipsum nihil in id rem sequi numquam similique repudiandae rerum optio reiciendis error suscipit facere quidem.
		div.row
			div.col-lg-6.col-md-6.col-sm-5.col-xs-11.col-lg-offset-1.col-md-offset-3.col-sm-offset-1.col-xs-offset-1
				div.col-lg-6.col-md-6.col-sm-6.col-xs-6.cont-btnG
					button.btns-home
						|Iniciar Sesion
				div.col-lg-6.col-md-6.col-sm-6.col-xs-6.cont-btnG
					button.btns-home
						|Registrarse

	section.cont-sec-iniciaS.ocultar-sect
		div.row
			div.col-lg-6.col-md-6.col-sm-5.col-xs-11.col-lg-offset-1.col-md-offset-3.col-sm-offset-1.col-xs-offset-1.cont-textIS
				h2.textos-principales
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odit veniam quod libero, eaque similique est. Facilis, dicta repellendus alias.
		div.row
			div.col-lg-4.col-md-3.col-sm-4.col-xs-11.col-lg-offset-0.col-md-offset-0.col-sm-offset-2.col-xs-offset-2.cont-form-iniciaS
				form

					input(type="text", placeholder="Número de usuario", for="Número de usuario")

					input(type="text", placeholder="Contraseña", for="Contraseña")

					button.btns-registros(type="submit", value="Ingresar")
						|Iniciar sesión

	section.con-sec-registro.ocultar-sect
		dov.row
			div.col-lg-6.col-md-6.col-sm-5.col-xs-11.col-lg-offset-1.col-md-offset-3.col-sm-offset-1.col-xs-offset-1
				h2.textos-principales.sin-bottom
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui obcaecati, dicta id inventore.

		div.row

			form.col-lg-6.col-md-6.col-sm-5.col-xs-11.col-lg-offset-1.col-md-offset-3.col-sm-offset-1.col-xs-offset-1

				div.col-lg-6.col-md-6.col-sm-6.col-xs-6
					em.asteric
						|*
					input(type="text", placeholder="Nombres", name="Nombres", required )

					em.asteric
						|*
					input(type="text", placeholder="Apellidos", name="Apellidos", required )

					em.asteric
						|*
					input(type="text", placeholder="Cédula", name="Cedula", required )

					em.asteric
						|*
					input(type="text", placeholder="Fecha de Nacimiento", name="Fecha de Nacimiento", required )
				
				div.col-lg-6.col-md-6.col-sm-6.col-xs-6
					em.asteric
						|*
					select(name="Ciudad", required )
						option(value="")
							|Bogota

						option(value="")
							|Cali
					em.asteric
						|*
					input(type="text", placeholder="Número de Celular", name="Número de Celular", required )

					em.asteric
						|*
					input(type="text", placeholder="E-mail", name="E-mail", required )

					em.asteric
						|*
					input(type="text", placeholder="Contraseña", name="Contraseña", required )

		div.row

			div.col-lg-4.col-md-3.col-sm-4.col-xs-11.col-lg-offset-0.col-md-offset-0.col-sm-offset-2.col-xs-offset-2.cont-form-iniciaS
				input.check-terminos(type="checkbox", name="Términos")

				em.text-ter-formulario
					|Acepto 
					a.abrir-terminos(href="#")|Términos y Condiciones

				input.check-terminos(type="checkbox", name="Data")

				em.text-ter-formulario.con-bottom
					|Autorizo el manejo de mi información

				button.btns-registros(type="submit", value="Ingresar", data-action="bea")
						|Iniciar sesión

	section.cont-sec-codigo.ocultar-sect
		div.row
			div.col-lg-6.col-md-6.col-sm-5.col-xs-11.col-lg-offset-1.col-md-offset-3.col-sm-offset-1.col-xs-offset-1.cont-textIS
				h2.textos-principales
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quasi eum eius laborum pariatur quis nesciunt saepe ipsa nisi temporibus.
		div.row
			div.col-lg-4.col-md-3.col-sm-4.col-xs-11.col-lg-offset-0.col-md-offset-0.col-sm-offset-2.col-xs-offset-2.cont-form-iniciaS
				form
					input(type="text", placeholder="Ingresa tu código")

	sectioxn.cont-sec-playJ.ocultar-sect
		div.row
			div.col-lg-6.col-md-6.col-sm-5.col-xs-11.col-lg-offset-1.col-md-offset-3.col-sm-offset-1.col-xs-offset-1
				h2.textos-principales
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sint sit quidem consectetur quia animi ipsum est! Consectetur, optio, reprehenderit?
		div.row
			p.col-lg-4.col-md-2.col-sm-5.col-xs-11.col-lg-offset-5.col-md-offset-5.col-sm-offset-1.col-xs-offset-1.info-tiempo.info-tiempo
				|1:00
			div.col-lg-4.col-md-2.col-sm-5.col-xs-11.col-lg-offset-0.col-md-offset-0.col-sm-offset-0.col-xs-offset-0.icono-play-juego
				a(href="#")
					img.img-responsive(src="images/Inoco-Play.png")

			button.btns-texto-solid.col-lg-4.col-md-2.col-sm-5.col-xs-11.col-lg-offset-0.col-md-offset-5.col-sm-offset-0.col-xs-offset-0
					| Jugar

	section.cont-sec-trivia.ocultar-sect
		div.row
			div.cont-preguntas
				h3.preguntas-trivia
					| ¿Cuál de estas películas se convirtió en el primer largometraje colombiano nominado a un Oscar como mejor película extranjera?

		div.row
			div.col-lg-6.col-md-6.col-sm-12.col-xs-12.col-lg-offset-1.col-md-offset-3.col-sm-offset-0.col-xs-offset-0.cont-respuestas

				div.col-lg-6.col-md-6.col-sm-6.col-xs-12

					button.btns-respuestas
						|a. Paraíso Travel

					button.btns-respuestas
						|b. María llena eres de gracia

				div.col-lg-6.col-md-6.col-sm-6.col-xs-12

					button.btns-respuestas
						|c. El abrazo de la serpiente

					button.btns-respuestas
						|d. Paraíso Travel

		div.col-lg-2.col-md-1.col-sm-6.col-xs-6.col-lg-offset-9.col-md-offset-9.col-sm-offset-0.col-xs-offset-0.cont-contador
			p.texto-contador
				|1:00

	section.cont-sec-timeover.ocultar-sect

		div.row
			div.col-lg-3.col-md-4.col-sm-3.col-xs-3.col-lg-offset-3.col-md-offset-4.col-sm-offset-3.col-xs-offset-0.cont-text-TO

				p.alin.center.texto-tiempoO
					|Se acabo
		div.row

			div.col-lg-3.col-md-4.col-sm-3.col-xs-3.col-lg-offset-3.col-md-offset-4.col-sm-offset-3.col-xs-offset-0

				img.img-center.img-responsive(src="images/Img-Reloj.png")
		div.row

			div.col-lg-3.col-md-4.col-sm-3.col-xs-3.col-lg-offset-3.col-md-offset-4.col-sm-offset-3.col-xs-offset-0
				p.alin.center.texto-tiempoO
					|El tiempo

	section.cont-sec-ranking
		div.row
			div.col-lg-5.col-md-6.col-sm-12.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-3.col-xs-offset-0.cont-titulo-A
				h4.titulos-ranking
					| Top del día

			div.col-lg-5.col-md-4.col-sm-12.col-xs-12.col-lg-offset-4.col-md-offset-4.col-sm-offset-3.col-xs-offset-0

				table.table.table-striped
					thead
						tr
							td
									|Pos
							td
									|Nombre
							td
									|Puntos
					tbody
						tr
							td
									|1
							td
									| Juan Gomez
							td
									|300

						tr
							td
									|2
							td
									| Juan Gomez
							td
									|300

						tr
							td
									|3
							td
									| Juan Gomez
							td
									|300

		div.row
			div.col-lg-5.col-md-6.col-sm-12.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-3.col-xs-offset-0.cont-titulo-B
				h4.titulos-ranking
					| General

			div.col-lg-5.col-md-4.col-sm-12.col-xs-12.col-lg-offset-4.col-md-offset-4.col-sm-offset-3.col-xs-offset-0

				table.table.table-striped
					tbody
						tr
							td
									|1
							td
									| Juan Gomez
							td
									|300
						tr
							td
									|1
							td
									| Juan Gomez
							td
									|300
						tr
							td
									|1
							td
									| Juan Gomez
							td
									|300

		div.row

			button.btns-texto-solidB.col-lg-4.col-md-5.col-sm-4.col-xs-11.col-lg-offset-0.col-md-offset-0.col-sm-offset-0.col-xs-offset-0.btn-cont
					| Continuar











	
	

block Scripts
	//-Acá se ponen js que solo vayan en ésta página

