//-Layout Base
extends ../templates/base

//-Etiqueta Title
block title
	title Ejemplo de meta title

//-Etiqueta Metadescription
block description
	meta(name="description", content="Frontend BRM" )

block content

	div.cont-cort-izq

	div.cont-cort-der

	section.cont-sec-home
		div.row
			div.col-lg-6.col-md-6.col-sm-6.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-3.col-xs-offset-0.cont-textH
				h2.textos-principales
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus est ab, dolorum adipisci expedita ipsum nihil in id rem sequi numquam similique repudiandae rerum optio reiciendis error suscipit facere quidem.
		div.row
	

			div.col-lg-6.col-md-6.col-sm-6.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-3.col-xs-offset-0
				div.col-lg-6.col-md-6.col-sm-6.col-xs-12.cont-btnG
					button#inicia.btns-home
						|Iniciar Sesion
				div.col-lg-6.col-md-6.col-sm-6.col-xs-12.cont-btnG
					button#registra.btns-home
						|Registrarse

	section.cont-sec-iniciaS.ocultar-sect
		div.row
			div.col-lg-6.col-md-6.col-sm-6.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-3.col-xs-offset-0.cont-textIS
				h2.textos-principales
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odit veniam quod libero, eaque similique est. Facilis, dicta repellendus alias.
		div.row

			div.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-lg-offset-4.col-md-offset-4.col-sm-offset-3.col-xs-offset-0
				form#formLogin

			

					input(type="email", placeholder="Correo",name="email", for="Número de usuario",required)

					input(type="password", placeholder="Contraseña",name="pass", for="Contraseña",required)
					input(type="hidden",name="varCtrl",value="3")
					div#errorLogin
					button.btns-registros(type="submit", value="Ingresar")
						|Iniciar sesión

	section.con-sec-registro.ocultar-sect
		dov.row
			div.col-lg-6.col-md-6.col-sm-6.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-3.col-xs-offset-0.cont-text-Regis


				h2.textos-principales.sin-bottom
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui obcaecati, dicta id inventore.
		form#formRegistro
			div.row


			div.col-lg-6.col-md-6.col-sm-12.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-0.col-xs-offset-0


				div.col-lg-6.col-md-6.col-sm-6.col-xs-12
					em.asteric
						|*
					input(type="text", placeholder="Nombres", name="nombre", required )

					em.asteric
						|*
					input(type="text", placeholder="Apellidos", name="apellido", required )

					em.asteric
						|*
					input(type="text", placeholder="Cédula", name="cedula", required )

					em.asteric
						|*
					input.fechaDate(type="text", placeholder="Fecha de Nacimiento", name="fechaNacimiento", required )
				
				div.col-lg-6.col-md-6.col-sm-6.col-xs-12
					em.asteric
						|*
					select(name="ciudad", required )
						option(value="",selected)
							|Ciudad
						option(value="Bogota")
							|Bogota

						option(value="Cali")
							|Cali
					em.asteric
						|*
					input(type="text", placeholder="Número de Celular", name="celular", required )

					em.asteric
						|*
					input(type="email", placeholder="E-mail", name="correo", required )

					em.asteric
						|*
					input(type="password", placeholder="Contraseña", name="pass", required )

			div.row

			div.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-lg-offset-4.col-md-offset-4.col-sm-offset-3.col-xs-offset-0.cont-form-iniciaS
				input.check-terminos(type="checkbox", name="terminos",value="S",required)


				em.text-ter-formulario
					|Acepto 
					a.abrir-terminos(href="#")|Términos y Condiciones

				input.check-terminos(type="checkbox", name="politicas",value="S",required)

				em.text-ter-formulario.con-bottom
					|Autorizo el manejo de mi información
				input(type="hidden",name="varCtrl",value="2")
				div#errorRegistro
				button#btn-registrar.btns-registros(type="submit", value="Registrarse")
						|Registrarse

	section.cont-sec-codigo.ocultar-sect
		div.row
			div.col-lg-6.col-md-6.col-sm-6.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-3.col-xs-offset-0.cont-textIS
				h2.textos-principales
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quasi eum eius laborum pariatur quis nesciunt saepe ipsa nisi temporibus.
		div.row

			div.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-lg-offset-4.col-md-offset-4.col-sm-offset-3.col-xs-offset-0.cont-form-iniciaS
				form#formCodigo
					input(type="hidden",name="varCtrl",value="1")
					input(type="text", placeholder="Ingresa tu código",name="codigo",onkeypress="return isNumber(event)")
					div#errorCodigo
						|C&oacute;digo invalido
					button.btns-registros(type="submit", value="Ingresar")
						|Ingresar
					

	section.cont-sec-playJ.ocultar-sect
		div.row
			div.col-lg-6.col-md-6.col-sm-6.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-3.col-xs-offset-0.cont-text-Regis
				h2.textos-principales
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sint sit quidem consectetur quia animi ipsum est! Consectetur, optio, reprehenderit?
		div.row
			p.col-lg-4.col-md-2.col-sm-4.col-xs-6.col-lg-offset-5.col-md-offset-5.col-sm-offset-4.col-xs-offset-3.info-tiempo.info-tiempo
				|1:00
			div.col-lg-4.col-md-4.col-sm-4.col-xs-12.col-lg-offset-4.col-md-offset-4.col-sm-offset-4.col-xs-offset-0.icono-play-juego
				a(href="javascript:;",onClick="iniciaJuego();")
					img.img-responsive(src="images/Inoco-Play.png")

			button.btns-texto-solid.col-lg-4.col-md-4.col-sm-4.col-xs-12.col-lg-offset-4.col-md-offset-4.col-sm-offset-4.col-xs-offset-0(onClick="iniciaJuego();")
					| Jugar

	section.cont-sec-trivia.ocultar-sect
		div.row
			div.cont-preguntas
				h3.preguntas-trivia#cont-preguntas
					| ¿Cuál de estas películas se convirtió en el primer largometraje colombiano nominado a un Oscar como mejor película extranjera?

		div.row

			div.col-lg-6.col-md-6.col-sm-12.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-0.col-xs-offset-0.cont-respuestas#cont-respuestas


				div#colum1-resp.col-lg-6.col-md-6.col-sm-6.col-xs-12

					button.btns-respuestas
						|a. Paraíso Travel

					button.btns-respuestas
						|b. María llena eres de gracia

				div#colum2-resp.col-lg-6.col-md-6.col-sm-6.col-xs-12

					button.btns-respuestas
						|c. El abrazo de la serpiente

					button.btns-respuestas
						|d. Paraíso Travel

		div.col-lg-2.col-md-1.col-sm-6.col-xs-6.col-lg-offset-9.col-md-offset-9.col-sm-offset-10.col-xs-offset-5.cont-contador
			p.texto-contador
				|1:00

	section.cont-sec-timeover.ocultar-sect

		div.row
			div.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-lg-offset-4.col-md-offset-4.col-sm-offset-3.col-xs-offset-0.cont-text-TO

				p.alin.center.texto-tiempoO
					|Se acabo
		div.row

			div.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-lg-offset-4.col-md-offset-4.col-sm-offset-3.col-xs-offset-0

				img.img-center.img-responsive(src="images/Img-Reloj.png")
		div.row

			div.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-lg-offset-4.col-md-offset-4.col-sm-offset-3.col-xs-offset-0
				p.alin.center.texto-tiempoO
					|El tiempo

	section.cont-sec-ranking.ocultar-sect
		div.row
			div.col-lg-6.col-md-6.col-sm-10.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-1.col-xs-offset-0.cont-titulo-A
				h4.titulos-ranking
					| Top del día

			div.col-lg-6.col-md-6.col-sm-10.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-1.col-xs-offset-0

				table.table.table-striped
					thead
						tr
							td
									|Pos
							td
									|Nombre
							td
									|Puntos
					tbody
						tr
							td
									|1
							td
									| Juan Gomez
							td
									|300

						tr
							td
									|2
							td
									| Juan Gomez
							td
									|300

						tr
							td
									|3
							td
									| Juan Gomez
							td
									|300

		div.row
			div.col-lg-6.col-md-6.col-sm-10.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-1.col-xs-offset-0.cont-titulo-B
				h4.titulos-ranking
					| General

			div.col-lg-6.col-md-6.col-sm-10.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-1.col-xs-offset-0

				table.table.table-striped
					tbody
						tr
							td
									|1
							td
									| Juan Gomez
							td
									|300
						tr
							td
									|1
							td
									| Juan Gomez
							td
									|300
						tr
							td
									|1
							td
									| Juan Gomez
							td
									|300

		div.row

			button.btns-texto-solidB.col-lg-4.col-md-5.col-sm-4.col-xs-11.col-lg-offset-0.col-md-offset-0.col-sm-offset-0.col-xs-offset-0.btn-cont
					| Continuar

block Scripts
	//-Acá se ponen js que solo vayan en ésta página
