//-Layout Base
extends ../templates/base

//-Etiqueta Title
block title
	title Ejemplo de meta title

//-Etiqueta Metadescription
block description
	meta(name="description", content="Frontend BRM" )

block content
	
	section
		div
			h2
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus est ab, dolorum adipisci expedita ipsum nihil in id rem sequi numquam similique repudiandae rerum optio reiciendis error suscipit facere quidem.

			button
				|Iniciar Sesion

			button
				|Registrarse

	section.ocultar-sect
		div
			h2
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odit veniam quod libero, eaque similique est. Facilis, dicta repellendus alias.

			form

				input(type="text", placeholder="Usuario", for="Usuario")

				input(type="text", placeholder="Contraseña", for="Contraseña")

				input(type="submit", value="Ingresar")

	section.ocultar-sect
		div
			h2
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui obcaecati, dicta id inventore. Rerum nobis ducimus iusto dolor. Rem, dolores.

			form
				div
					em
						|*
					input(type="text", placeholder="Nombres", for="Nombres")

					em
						|*
					input(type="text", placeholder="Apellidos", for="Apellidos")

					em
						|*
					input(type="text", placeholder="Cédula", for="Cedula")

					em
						|*
					input(type="text", placeholder="Fecha de Nacimiento", for="Fecha de Nacimiento")
				
				div
					em
						|*
					select(name="Ciudad")
						option(value="")
							|Bogota

						option(value="")
							|Cali
					em
						|*
					input(type="text", placeholder="Número de Celular", for="Número de Celular")

					em
						|*
					input(type="text", placeholder="E-mail", for="E-mail")

					em
						|*
					input(type="text", placeholder="Contraseña", for="Contraseña")

				div

				div
					input(type="checkbox", name="Términos")

					em
						|Acepto 
						a(href="#")|Términos y Condiciones

					input(type="checkbox", name="Data")
					
					em
						|Autorizo el manejo de mi información

	section.ocultar-sect
		div
			h2
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quasi eum eius laborum pariatur quis nesciunt saepe ipsa nisi temporibus.

			form
				input(type="text", placeholder="Ingresa tu código")


	section.ocultar-sect
		div
			h2
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sint sit quidem consectetur quia animi ipsum est! Consectetur, optio, reprehenderit?

			p
				|1:00

			img(src="images/Inoco-Play.png")

			button
					| Jugar

	section.ocultar-sect
			div
				h3
					| ¿Cuál de estas películas se convirtió en el primer largometraje colombiano nominado a un Oscar como mejor película extranjera?

				div
					button
						|a. Paraíso Travel

					button
						|b. María llena eres de gracia

				div
					button
						|c. El abrazo de la serpiente

					button
						|d. El abrazo de la serpiente

				div
					| 1:00

	section.ocultar-sect

		div

			p
				|Se acabo

			div

				img(src="images/Img-Reloj.png")

			p
				|El tiempo


	section.ocultar-sect
		div
			div
				h4
					| Top del día

				div

					table
						thead
							tr
								td
									|Pos
								td
									|Nombre
								td
									|Puntos
						tbody
							tr
								td
									|1
								td
									| Juan Gomez
								td
									|300
							tr
								td
									|1
								td
									| Juan Gomez
								td
									|300
							tr
								td
									|1
								td
									| Juan Gomez
								td
									|300

			div
				h4
					| Top del día

				div

					table
						tbody
							tr
								td
									|1
								td
									| Juan Gomez
								td
									|300

			button
				| Continuar











	
	

block Scripts
	//-Acá se ponen js que solo vayan en ésta página

